torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
transformers==4.31.0
gradio==3.41.2
moviepy==1.0.3
numpy==1.24.4
scipy==1.10.1
opencv-python==4.7.0.72
real-esrgan==0.3.0
gfpgan==1.3.8
tqdm==4.66.1
ffmpeg-python==0.2.0
librosa==0.10.1
scikit-image==0.20.0
deepface==0.0.79
dlib==19.24.2
pydub==0.25.1
audioread==3.0.1
sentencepiece==0.1.99
diffusers==0.20.2
einops==0.7.0
accelerate==0.21.0
pytorch-lightning==2.0.6
onnxruntime==1.15.1
gdown==4.7.1